.db_img_51{background-image:url('../../images/7e751b44e3bcb550fb75dcd2b2e156b179158be2.png');}
.db_img_52{background-image:url('../../images/53c9e824c27624a70a41d92ad444452b835da2db.png');}
.hmi-img{background-repeat: no-repeat;}